@media(max-width:600px){
    .divisimaLogo{
        display: flex;
        flex-direction: column;
    }

    .logoAndSearch{
        display: flex;
        width: 100% ;
        flex-direction: column;
    }

    .logo{
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin-bottom: 2rem;
}
    .logo img{
       width: 40%;
}

    .searchOnDivisima{
       margin-bottom: 2rem;
}

   .shoppingAndCreat{
    width: 100%;
    display: flex;
    justify-content: space-around ;
}

.navigation{
    padding: 1rem 0;
}

.menueLists{
    display: none !important;
}

.price{
    display: none;
}

.bannerText{
    width: 100%;
    padding-left: 3rem;
}

.bannerButton{
    width: 91%;
    display: flex;
    justify-content: flex-start;
}
.btn{
    padding: 1rem 3rem;
}

.sectionPermiumProduct{
    display: flex;
    flex-direction: column;
}

.permiumProductbox{
    width: 100%;
}

.productArrowLeft{
    display: none;
}

.productArrowRight{
    display: none;
}

.latestProductCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sellingProductMenue{
    width: 91%;
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    gap: 3rem 0rem;
    justify-content: center;  
}

.sellingProductMenueList a{
    padding: 1rem 2rem;
}

.cardsSellingProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
}

.stripedShirts{
    width: 76%;
    background-position: center;
     margin: 0 auto;
    }

    .footermenue{
        display: flex;
        flex-direction: column;
        margin-left: 4rem;
    }
    .footerAbout {
        width: 64%;
        margin-bottom: 3rem;
    }

    .footerQuestions1{
        margin-bottom: 2rem;
    }

    .footerQuestions2{
        margin-bottom: 2rem;
    }

}