* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.logoAndSearch {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-left: 4rem;
}

.divisimaLogo {
    display: flex;
    height: 7rem;
    justify-content: space-around;
    background-color: #ffffff;
    align-items: center;
}

.searchOnDivisima {
    width: 95%;
}

.searchOnDivisima input {
    border: none;
    background-color: #f0f0f0;
    height: 4rem;
    width: 50rem;
    height: 4rem;
    padding-left: 1rem;
    border-radius: 2rem;
    margin-left: 3rem;

}
.shoppingCart span{
    padding-left: 0.5rem;
}

.shoppingAndCreat{
    display: flex;
    width: 30rem;
    justify-content: space-between;
}

.shoppingCart {
    display: flex;
    padding-left: 2rem;
    align-items: center;
    justify-content: space-evenly;
}

.shoppingCart span {
    font-size: 1.2rem;
}

.creatAnAccount {
    display: flex;
    align-items: center;
}

.creatAnAccount span {
    font-size: 1.2rem;
}

.shopIcon {
    width: 2.5rem;
    height: 2.5rem;
}

    
.navigation {
    background-color: #282828;
}

.menue {
    display: flex;
    justify-content: start;
    padding: 2rem 3rem;
}

.menueLists {
    padding-left: 5rem;
}

.menueLists a {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
}
   
.banner {
    min-height: 70rem;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .bannerContent{
    width: 100%;
    height: 80rem;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60rem;
 }

 .bannerText{
    width: 50%;
    color: #ffffff;
 }

 .bannerHeader{
    line-height: 4rem;
 }
 .bannerHeader h2{
    font-size: 4rem;
 }

 .bannerText p {
    width: 40;
    width: 74%;
    font-size: 1.4rem;
    line-height: 3rem;
    margin-top: 3rem;
}


 .bannerText span{
    font-size: 1.7rem;
    color: #ffffff;
    font-weight: 600;
 }

 .bannerButton {
    margin-top: 4rem;
    display: flex;
    width: 47%;
    justify-content: space-evenly;
}
.btn{
    font-size: 1.3rem;
    padding: 1rem 4rem;
}

.buttonAdd{
    background-color: #ffffff;
    border-radius: 2rem;
    color: #282828;
    margin-left: 3rem;
    font-weight: 600;
}

.buttonDiscover{
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 2rem;
}

.price{
    width: 13rem;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f51167;
    color: #ffffff;
}

.priceText {
    line-height: 3.5rem;
    width: 92%;
    padding: 0 ;
    border: 1px solid #ffffff6e;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 11rem;
}
.priceText span{
    font-size: 1.2rem;
}
.priceText h2{
    font-size: 4rem;
}

.priceText p{
    font-size: 1.2rem;
}

.numPic{
    width: 80%;
    margin: 0 7rem;
    display: flex;
    justify-content: space-between;
}

.arrowLeft{
    width: 3rem;
    color: #ffffff;
}

.arrow{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}



.circleFull{
    width: 0.9rem;
    height: 0.9REM;
    background-color: #ffffff;
    border-radius: 50%;
}

.ciecleEmpty{
    width: 0.9REM;
    height: 0.9REM;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-left: 0.5rem;
}

.num span{
    color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
}

.sectionPermiumProduct{
    display: flex;
    justify-content: center;
}

.permiumProductbox{
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    align-items: center;
}

.permiumProductbox span{
   font-size: 2rem;
}

.permiumProductImg{
    width: 4rem;
    padding-right: 1rem;
}

.permiumProduct{
    background-color: #f51167;
    color: #ffffff;
}

.fastDeliver,.fastSecure{
    background-color:#f8f8f8;
}

.fastDeliver,.fastSecure span{
    font-size: 2rem;
    font-weight: 600;
}

.latestProduct{
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
}

.latestProductHeader{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
}

.latestProductCards{
    display: flex;
    margin-top: 7rem;
    justify-content: space-between;
}
.cards{
    width: 28rem;
    height: 52rem;  
}

.allCards{
    width: 28rem;
    height: 46rem;
}

.cardOneBg{
    background-image: url(../img/product/1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.cardTwoBg{
    background-image: url(../img/product/2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.cardthreeBg{
    background-image: url(../img/product/3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.cardFourBg{
    background-image: url(../img/product/4.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.svgBox{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

.svgBag{
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #ffffff;
}

.cardText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.cardText span{
    font-size: 1.3rem;
}

.cardText p{
    font-size: 1.6rem;
    font-weight: 600;
}